*{
    padding:0;
    margin:0;
}

/* Nav CSS */

.nav-container{
    height: 100px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    background-color: gray;
}

.nav-menu > ul{
    display:flex;
}

.nav-menu ul li{
    list-style: none;
}

.nav-menu ul li a{
    text-decoration: none;
    color:black;
    font-size:20px;
    font-weight: 600;
    font-style: italic;
    margin-right:10px;
    padding-right:5px;
}

.nav-menu ul li a:hover{
    color:white;
    background-color: red;
}
.nav-menu ul li ul{
    position:absolute;
    display:none;
}

.nav-menu ul li:hover .dropdown{
    display: block;
}

/* Banner CSS */

.banner-container{
    background-image: url('./asset/image/background.jpg'), linear-gradient(rgba(0,0,0,.2),rgba(0,0,0,.4));
    background-blend-mode: overlay;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh; 
    text-align: center;
    display:flex;
    align-items: center;
}

.primary{
    color:red;
}
.banner-text h2{
    color:white;
    font-size: 55px;
    font-weight: 700;
}

.banner-text p {
    color: white;
    width: 51%;
    font-size: 20px;
    padding: 10px;
    margin: auto;
}

.btn-primary{
    padding:15px 20px;
    border:none;
    border-radius: 5px;
    background-color: red;
    color:white;
    font-size:17px;
    font-weight: 600;
    margin-right:5px;
}

.w{
    color:black;
    background-color: white;
}
/* Service CSS */

.service{
    width:1400px;
    height: 100vh; 
}
.service-container{
    width:100%;
    background-image: url('./asset/image/footer-bg.png'), linear-gradient(rgba(0,0,0,.9),rgba(0,0,0,.9));
    background-blend-mode: overlay;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
    color:white;
    display:flex;
    align-items: center;
    padding:65px;
    
}

.service-left h1{
    margin-bottom:10px;
}
.service-left ol{
    margin-top:10px;
    
}

.service-left ol li{
    padding:5px 0;
}
.icon{
    width:70px;
    margin-bottom:20px;
}

.box {
    background-color: #fff;
    width: 191px;
    height: 125px;
    padding: 50px;
    color: black;
    border-radius: 5px;
    text-align: center;
}
.box h3 {
    font-size: 16px;
    font-weight: 600;
}
.service-left p{
    width:50%;
}

.first-two-box{
    display:flex;
    gap:10px;
    margin-top:10px;
}

.author-img{
    width:80px;
    height: 80px;
    border-radius: 100%;
}

.sl-btn {
    border-radius: 23px;
    margin-bottom: 15px;
}

.au-btn{
    border-radius: 23px;
}


.author-container{
    display:flex;
    gap:20px;
    align-items: center;
    margin-top:15px;
}

.author-profile{
    display:flex;
    align-items: center;
    gap:5px;
    border-right:4px solid red;
    padding-right:10px;
    
}

.author-profile h5 {
    width: 108px;
}

/* Appointmen CSS */

.appointment{
    width:80%;
    margin:0 auto;
}
.appointment-container{
    display:flex;
    justify-content: space-around;
    margin:auto;
    padding:20px;
    background-color: rgba(228, 25, 25, 0.9);
    border-radius: 10px;
    margin-top:-45px;
    align-items: center;
    color:white;
    margin-bottom:20px;

}
.phone-call{
    display:flex;
    align-items: center;
    padding-right:20px;
    border-right:1px solid white;
    
}
.phone-call img{
    padding-right:20px;
}

.details {
    font-size: 10px;
    font-weight: 600;
}

.appointment-description{
    margin-left:20px;
}

/* Blog CSS */

.blog-container{
    width:80%;
    margin:20px auto;
    padding:10px;
}
.blog{
    color: red;
}

.blog-heading{
    text-align: center;
    width:600px;
    margin:20px auto;
}

.blog-heading h1{
    margin-bottom:5px;
}

.main-card{
    display:flex;
    justify-content: center;
    gap:20px;
}

.card{
    width:280px;
    height: 330px;
    /* background-color: blue; */
    box-shadow: 4px 8px 4px gray;
    border-radius: 5px;
    
    
}

.blog-img{
    width:100%;
    border-radius: 5px 5px 0 0;
}

.card h3{
    margin-top:10px;
    margin-bottom:10px;
    padding:0 10px 0 10px;
}

.card p{
    padding:0 5px 0 5px;
}

/* Footer CSS */

.footer-container{
    height: 100vh;
    background-color: black;
    color:white;
    border-bottom:2px solid white;
    
    
}
.footer-part{
    height: 80vh;
    display:flex;
    justify-content: space-around;
    align-items: center;
    border-bottom:1px solid white;
    width:1200px;
    margin:auto;
}
.footer-first{
    width:280px;
}

.footer-first img{
    margin-bottom:20px;
}

.footer-first p{
    margin-bottom:20px;
}

.footer-first span{
    font-size:20px;
    padding:10px 10px;
}

.footer-second h4 {
    margin-bottom: 22px;
    font-size: 20px;
    padding-bottom: 18px;
}

.footer-second ul li {
    list-style: none;
    margin-bottom: 6px;
    line-height: 30px;
}
.footer-second ul li i{
    padding-right:5px;
}
.copy{
    margin:20px auto;
    text-align: center;
    
}